<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet/less" href="./../less/main.less">
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
        <script src="./../js/main.js"></script>
        <title>Raspberry Pi car</title>
    </head>
    <body>
        <header>
            <h1>Raspberry Pi Car</h1>
        </header>
        <div id="global_container">
            <div class="link_container">
                <a href="#">
                    <div class="button" id="steer_button">
                        Steer
                    </div>
                </a>
                <a href="/about">
                    <div class="button" id="about_button">
                        About
                    </div>
                </a>
                
                <h2 id="steering_type_text" style="display: none;">Choose how you want to steer your car.</h2>
                <a href="/tilt">
                    <div class="button" id="tilt_button" style="display: none;">
                        Tilt
                    </div>
                </a>
                <a href="/touch">
                    <div class="button" id="touch_button" style="display: none;">
                        Touch
                    </div>
                </a>
                <a href="/">
                    <div class="button" id="home_button" style="display: none;">
                        Home
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>
