<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet/less" href="./../less/main.less">
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
        <title>Raspberry Pi car</title>
    </head>
    <body>
    	<canvas id="canvas"></canvas>
    	<span id="beta">Beta: </span>
    	<span id="gamma">Gamma: </span>
    	<script type="text/javascript">
    		var canvas = document.getElementById("canvas");
			var ctx = canvas.getContext("2d");

			var circle = {
				radius: 50,
				x: document.body.clientWidth/2,
				y: document.body.clientHeight/2,

				draw: function(){
					ctx.canvas.width  = window.innerWidth;
  					ctx.canvas.height = window.innerHeight;
					ctx.beginPath();
					ctx.arc(circle.x, circle.y, circle.radius, 0, Math.PI*2);
			        ctx.fillStyle = "#0095DD";
			        ctx.fill();
			        ctx.closePath();

			        requestAnimationFrame(circle.draw);
				}
			}
			
			circle.draw();

			var socket = io();

	        var ready = true;
	        
	        var sendInterval = setInterval(sendData, 100);
	        
	        function sendData(){
	            if(ready){
	                ready = false;
	                socket.emit("device update", { beta: calculateBetaGamma().beta, gamma: calculateBetaGamma().gamma });
	                ready = true;
	            }
	        }

	        function calculateBetaGamma(){
				var beta = (circle.x) / window.innerWidth * 60 - 30;
				var gamma = (-circle.y) / window.innerHeight * 80 - 10;

	        	return { beta: beta, gamma: gamma };
	        }

	        window.addEventListener("touchstart", function(event){
			    event.preventDefault();
			    circle.x = event.touches[0].pageX;
			    circle.y = event.touches[0].pageY;
			    $("#beta").text("Beta: " + calculateBetaGamma().beta);
			    $("#gamma").text("Gamma: " + calculateBetaGamma().gamma);
			}, false);
			window.addEventListener("touchmove", function(event){
			    event.preventDefault();
			    circle.x = event.touches[0].pageX;
			    circle.y = event.touches[0].pageY;
			    $("#beta").text("Beta: " + calculateBetaGamma().beta);
			    $("#gamma").text("Gamma: " + calculateBetaGamma().gamma);
			}, false);
			window.addEventListener("touchend", function(event){
			    event.preventDefault();
			    circle.y = window.innerHeight/2;
			    circle.x = window.innerWidth/2;
			    $("#beta").text("Beta: " + calculateBetaGamma().beta);
			    $("#gamma").text("Gamma: " + calculateBetaGamma().gamma);
			}, false);

    	</script>
    </body>
</html>