<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet/less" href="./../less/main.less">
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
        <title>Raspberry Pi car</title>
    </head>
    <body>
    	<canvas id="canvas"></canvas>
    	<a href="/" id="canvas_link">Home</a>
    	<script type="text/javascript">
    		var canvas = document.getElementById("canvas");
			var ctx = canvas.getContext("2d");

			var circle = {
				radius: 50,
				x: document.body.clientWidth/2,
				y: document.body.clientHeight/2,

				draw: function(){
					ctx.canvas.width  = window.innerWidth;
  					ctx.canvas.height = window.innerHeight;
					ctx.beginPath();
					ctx.arc(circle.x, circle.y, circle.radius, 0, Math.PI*2);
			        ctx.fillStyle = "#0095DD";
			        ctx.fill();
			        ctx.closePath();

			        requestAnimationFrame(circle.draw);
				}
			}
			
			circle.draw();

			var socket = io();

	        // The ready variable is used when sending data to the RaPi. Without it multiple emits might occur at the same time
	        var ready = true;
	        
	        var sendInterval = setInterval(sendData, 100);
	        
	        function sendData(){
	            if(ready){
	                ready = false;
	                socket.emit("device orientation", { beta: beta, gamma: gamma });
	                ready = true;
	            }
	        }

	        window.addEventListener('touchstart', function(event){
			    event.preventDefault();
			    circle.x = event.touches[0].pageX;
			    circle.y = event.touches[0].pageY;
			}, false);
			window.addEventListener('touchmove', function(event){
			    event.preventDefault();
			    circle.x = event.touches[0].pageX;
			    circle.y = event.touches[0].pageY;
			}, false);
			window.addEventListener('touchend', function(event){
			    event.preventDefault();
			}, false);

    	</script>
    </body>
</html>